<nav class="navbar navbar-expand-lg navbar-light bg-light pa-1">
    <a class="navbar-brand" href="/trackingDetectorService">Tracking Detector Service</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/trackingDetectorService/status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trackingDetectorService/models">Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trackingDetectorService/job-overview">Job-Overview</a>
            </li>
        </ul>
    </div>
</nav>