<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tracking Detector Service</title>
</head>

<body>
    <header>
        {{>navbar}}
    </header>
    <div>
        {{{body}}}
    </div>
    {{>footer}}
</body>

</html>